.side-nav {
  background-color: var(--darker-blue);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100px;
}

.side-nav .links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.side-nav .links a {
  color: white;
  text-decoration: none;
  font-size: clamp(15px, 1vw, 18px);
  margin: 10px;
}
